* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	font-size:18px;
}

html,
body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: #FDF9F0;
	--bgColor: #FDF9F0;
	--mainColor: #502432;

}

body p,button,span{
	font-family: "Pavanam";
}

body h1,h2,h3,h4{
	font-family: "Abhaya Libre";
}

.hidden{
	display: none !important;
}

button{
	padding:0;
	background:none;
	border:none;
	font-size: 1rem;
}


.webgl {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
}

.textureImg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.25;
	z-index: 5;
	pointer-events: none;
}

.camera-back {
	position: absolute;
	top: 3%;
	left: 20%;
	height: 50px;
	width: 50px;
	background-color: #c3ff00;
	z-index: 20;
}

.start-audio {
	position: absolute;
	bottom: 16%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #000;
	z-index: 1;
	cursor: pointer;
}
.start-audio p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	color: #fff;
}

.subtitle {
	position: absolute;
	bottom: 4%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 100px;
	font-size: 2rem;
	color: #000;
	z-index: 1;
	text-align: center;
}


.frame{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	border: 20px solid var(--bgColor);
	pointer-events:none;
	z-index: 1;
}

.frame:before{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:calc(100%);
	height: calc(100%);
	border: 2px solid var(--mainColor);
	z-index: 2;
}

.frame2{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:calc(100%);
	height: calc(100% );
	/*background:#FDF9F0;*/
	border: 20px solid var(--bgColor);
	z-index: 2;
}



.frame2:after{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:calc(100% );
	height: calc(100% );
	border: 2px solid var(--mainColor);
	z-index: 2;
}

.frame2:before{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:calc(100% + 15px );
	height: calc(100% + 15px );
	border: 6px solid var(--mainColor);
	z-index: 2;
}

.bottomBar{
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	bottom: 40px;
	background: var(--bgColor);
	min-height: 8rem;
	width: 100%;
	margin-top: 80vh;
	padding: 0 40px;
	color: var(--mainColor);
	border-top: 2px solid var(--mainColor);
}

.inputNav,.replayInput,.leftInfo{
	position: absolute;
	top: 5em;
	right: 5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75em;
}

.replayInput,.leftInfo{
	position: relative;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
}
p.leftInfo{
	opacity: 1;
	pointer-events:auto;
}

.inputNav img{
	width:2em;
}

.back-map{
	display: none;
}

.infos{
	text-align:center;
}

.subtitle{
	font-size: 1rem;
	font-weight: 600;
}

.title{
	font-size:2.5em;
	text-transform:uppercase;
	font-weight:bold;
}