* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	font-size:18px;
}

html,
body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: #FDF9F0;
	--bgColor: #FDF9F0;
	--mainColor: #502432;

}

body p,button,span{
	font-family: "Pavanam";
}

body h1,h2,h3,h4{
	font-family: "Abhaya Libre";
}

.hidden{
	display: none !important;
}

button{
	padding:0;
	background:none;
	border:none;
	font-size: 1rem;
}


.webgl {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
}

.textureImg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.25;
	z-index: 5;
	pointer-events: none;
}

.camera-back {
	position: absolute;
	top: 3%;
	left: 20%;
	height: 50px;
	width: 50px;
	background-color: #c3ff00;
	z-index: 999;
}

.subtitle {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5rem;
	color: var(--bgColor);
	background: var(--mainColor);
	z-index: 50;
	text-align: center;
	padding: 5px 10px;
}

.scenes {
	position: relative;
}
.header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: transparent;
	z-index: 99;
}

.back {
	padding-left: 1rem;
	margin-bottom: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.back p {
	font-family: "Abhaya Libre";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;

	color: #000000;
}
.back img {
	width: 95px;
	justify-content: center;
}
.toggle-audio {
	padding-right: 1rem;
}
.scene-name {
	font-family: "Abhaya Libre";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #000000;
}
.start-audio {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #000;
	z-index: 50;
	cursor: pointer;
}
.start-audio p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	color: #fff;
	z-index: 99;
}
.objects-description {
	position: absolute;
	bottom: 18%;
	right: -32%;
	width: 450px;
	opacity: 0;
	text-align: left;
	padding: 2rem;
	font-size: 1rem;
	background-color: transparent;
	color: #000000;
	border-radius: 8px;
	z-index: 99;
}
.objects-description  .fade-out{
	


}
.objects-description:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	width: 115%;
	height: 115%;
	background: rgba(255, 255, 255, 0.94);
	filter: blur(18px);
	z-index: -1;
}
.object-title {
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 83px;
	text-transform: uppercase;
}

.object-content {
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
}

.object-title::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 109px;
	left: 50%;
	content: "";
	width: 85%;
	height: 1px;
	background-color: #000;
	bottom: 20px;
	transform: translate(-50%, -50%);
}


.frame{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	border: 20px solid var(--bgColor);
	pointer-events:none;
	z-index: 1;
}

.frame:before{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:calc(100%);
	height: calc(100%);
	border: 2px solid var(--mainColor);
	z-index: 2;
}

.frame2{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:calc(100%);
	height: calc(100% );
	/*background:#FDF9F0;*/
	border: 20px solid var(--bgColor);
	z-index: 2;
}



.frame2:after{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:calc(100% );
	height: calc(100% );
	border: 2px solid var(--mainColor);
	z-index: 2;
}

.frame2:before{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:calc(100% + 15px );
	height: calc(100% + 15px );
	border: 6px solid var(--mainColor);
	z-index: 2;
}

.bottomBar{
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	bottom: 40px;
	background: var(--bgColor);
	min-height: 8rem;
	width: 100%;
	margin-top: 80vh;
	padding: 0 40px;
	color: var(--mainColor);
	/* border-top: 2px solid var(--mainColor); */
}

.inputNav,.replayInput,.leftInfo{
	position: absolute;
	top: 5em;
	right: 5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75em;
}

.replayInput,.leftInfo{
	position: relative;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
}
p.leftInfo{
	opacity: 1;
	pointer-events:auto;
}

.inputNav img{
	width:2em;
}

.back-map{
	display: none;
}

.infos{
	text-align:center;
	min-width: 50vw;
	max-width: 50vw;
}

.title{
	position: relative;
	display: flex;
	flex-direction: column;
	font-size:2.5em;
	text-transform:uppercase;
	font-weight:bold;
	height: 1.5em;
	overflow: hidden;
}

.subTitle{
	height: 1em;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-transform: capitalize
}

.active{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.soundAnim{
	position: absolute;
	top: 0;
	left: 0;
	width:0;
	height: 2px;
	pointer-events: none;
	background-color: #000;
	transform-origin: center;
	
}